<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>

#缓存静态资源
#<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|woff)$">
#    Header set Cache-Control "max-age=604800"
#</FilesMatch>

#HTTP持久链接
<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>

#gzip压缩
#<IfModule mod_deflate.c>
#    setOutputFilter DEFALTE
#    AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml text/javascript application/javascript
#</IfModule>